---

---

<header class="shadow">
  <div class="px-4 py-6 flex justify-between">
    <span class="text-2xl font-bold">
      <a href="/" class="hover:text-gray-600">Diana D'Souza</a>
    </span>
    <nav>
      <ul class="flex space-x-4 text-lg">
          <li><a href="/about" class="text-gray-600 hover:text-gray-900">About</a></li>
          <li><a href="/blog" class="text-gray-600 hover:text-gray-900">Blog</a></li>
          <li><a href="/contact" class="text-gray-600 hover:text-gray-900">Contact</a></li>
      </ul>
  </nav>
  </div>
</header>
