---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <p class="text-sm font-light py-6">{frontmatter.pubDate}</p>
  <article class="prose max-w-none">
    <slot />
  </article>
</BaseLayout>
